{% extends "import.html" %} {% block content %}

<div class="container mt-5 mb-2">
    <div class="alert alert-primary mx-5 mt-5" role="alert">
        <center><h3>Our Team</h3></center>
    </div>
    <div class="row mt-5">
        <div class="col-sm mx-5">
            <div
                class="card text-white bg-dark mb-3"
                style="max-width: 18rem; padding: 1em; min-height: 27em"
            >
                <img
                    src="/static/img/undraw_Web_developer_re_h7ie.svg"
                    class="card-img-top"
                    alt="..."
                    style="padding: 2em"
                />
                <div class="card-header">UG/02/BTCSE/2017/009</div>
                <div class="card-body">
                    <h5 class="card-title">Saurja Ghosh</h5>
                    <p class="card-text">Full Stack Web Developer</p>
                </div>
            </div>
        </div>
        <div class="col-sm mx-5">
            <div
                class="card text-white bg-dark mb-3"
                style="max-width: 18rem; padding: 1em; min-height: 27em"
            >
                <img
                    src="/static/img/undraw_Dev_focus_re_6iwt (1).svg"
                    class="card-img-top"
                    alt="..."
                    style="padding: 2em"
                />
                <div class="card-header">UG/02/BTCSE/2017/022</div>
                <div class="card-body">
                    <h5 class="card-title">Debalina Bhattacharjee</h5>
                    <p class="card-text">Code Testing & Quality Control</p>
                </div>
            </div>
        </div>
        <div class="col-sm mx-5">
            <div
                class="card text-white bg-dark mb-3"
                style="max-width: 18rem; padding: 1em; min-height: 27em"
            >
                <img
                    src="/static/img/undraw_All_the_data_re_hh4w.svg"
                    class="card-img-top"
                    alt="..."
                    style="padding: 2em"
                />
                <div class="card-header">UG/02/BTCSE/2017/041</div>
                <div class="card-body">
                    <h5 class="card-title">Indranil Dutta</h5>
                    <p class="card-text">Data Scientist & Machine Learing</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
