{% extends "import.html" %} {% block content %}

<div class="container pt-5">
    <div class="alert alert-danger" role="alert">
        <center>
            Total Covid-19 Cases detected so far: <strong>{{ total }}</strong>
        </center>
    </div>
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: [{% for item in labels %}
                "{{item}}",
                {% endfor %}],
            datasets: [
                {
                    label: "# of Votes",
                    data: [{% for item in values %}
                        {{item}},
                        {% endfor %}],
                    label: '{{ legend }}',
                    backgroundColor: ["rgba(54, 162, 235, 0.2)"],
                    borderColor: ["rgba(54, 162, 235, 1)"],
                    borderWidth: 1,
                },
            ],
        },
        options: {
            responsive: true,
            scales: {

                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
{% endblock %}
