{% extends "import.html" %} {% block content %}

<div class="container mt-5">
    <div
        class="alert alert-primary d-flex align-items-center justify-content-center"
        role="alert"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
            viewBox="0 0 16 16"
        >
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
        </svg>
        <center>
            &nbsp;&nbsp;Covid-19 cases detected so far:
            <strong>{{ total }}</strong>
        </center>
    </div>
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: [{% for item in labels %}
                "{{item}}",
                {% endfor %}],
            datasets: [
                {
                    label: "# of Votes",
                    data: [{% for item in values %}
                        {{item}},
                        {% endfor %}],
                    label: '{{ legend }}',
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1,
                },
            ],
        },
        options: {
            responsive: true,
            scales: {

                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
{% endblock %}
